*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-bg-1: #3393FF;
    --color-bg-2: #c7c7c7;
    --color-btn: #2196F3;
    --color-header-step: #3393FF;
    --color-shadow: #222;
    --color-border-input: #ddd;
}
/* Contenedor principal */
body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 16px;
    font-family: sans-serif;
    background-image: linear-gradient(var(--color-bg-1), var(--color-bg-2));
    overflow: hidden;
}

.h3{
  color: black;
} 

.container{
    width: 100% !important;
    padding-right: 1px !important;
    padding-left: 1px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.navcea{
  background: #469AF9 !important;
 }


.form-control:focus {
     color: #495057;
     background-color: #fff;
     border-color: #80bdff;
     outline: 0;
     box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25)
 }

 .btn-secondary:focus {
     box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5)
 }

 .close:focus {
     box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5)
 }

 .mt-200 {
     margin-top: 200px
 }

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}